@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  box-sizing: border-box; /*so padding and border doesnt effect the width and height of the element*/
}

body {
  font-family: "Poppins", sand-serif;
  margin: 0;
}
:root {
  --primary-color: ;
  --secondary-color: ;
}
